
section#contact-form {
  background-color: #222222;
  background-image: url('../img/map-image.png');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact-form .section-heading {
  color: white;
}
section#contact-form .form-group {
  margin-bottom: 25px;
}
section#contact-form .form-group input,
section#contact-form .form-group textarea {
  padding: 20px;
}
section#contact-form .form-group input.form-control {
  height: auto;
}
section#contact-form .form-group textarea.form-control {
  height: 236px;
}
section#contact-form .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
section#contact-form ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact-form :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact-form :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
section#contact-form .text-danger {
  color: #e74c3c;
}
